<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>立春</string>
		<key>yangTimeString</key>
		<string>2020年2月4日</string>
		<key>yinTimeString</key>
		<string>正月(小)十一</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雨水</string>
		<key>yangTimeString</key>
		<string>2020年2月19日</string>
		<key>yinTimeString</key>
		<string>正月(小)廿六</string>
	</dict>
	<dict>
		<key>title</key>
		<string>惊蛰</string>
		<key>yangTimeString</key>
		<string>2020年3月5日</string>
		<key>yinTimeString</key>
		<string>二月(大)十二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春分</string>
		<key>yangTimeString</key>
		<string>2020年3月20日</string>
		<key>yinTimeString</key>
		<string>二月(大)廿七</string>
	</dict>
	<dict>
		<key>title</key>
		<string>清明</string>
		<key>yangTimeString</key>
		<string>2020年4月4日</string>
		<key>yinTimeString</key>
		<string>三月(大)十二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>谷雨</string>
		<key>yangTimeString</key>
		<string>2020年4月19日</string>
		<key>yinTimeString</key>
		<string>三月(大)廿七</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立夏</string>
		<key>yangTimeString</key>
		<string>2020年5月5日</string>
		<key>yinTimeString</key>
		<string>四月(大)十三</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小满</string>
		<key>yangTimeString</key>
		<string>2020年5月20日</string>
		<key>yinTimeString</key>
		<string> 四月(大)廿八</string>
	</dict>
	<dict>
		<key>title</key>
		<string>芒种</string>
		<key>yangTimeString</key>
		<string>2020年6月5日</string>
		<key>yinTimeString</key>
		<string>四月(大)十四</string>
	</dict>
	<dict>
		<key>title</key>
		<string>夏至</string>
		<key>yangTimeString</key>
		<string>2020年6月21日</string>
		<key>yinTimeString</key>
		<string>四月(大)三十</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小暑</string>
		<key>yangTimeString</key>
		<string>2020年7月6日</string>
		<key>yinTimeString</key>
		<string>五月(小)十五</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大暑</string>
		<key>yangTimeString</key>
		<string>2020年7月22日</string>
		<key>yinTimeString</key>
		<string>六月(小)初二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立秋</string>
		<key>yangTimeString</key>
		<string>2020年8月7日</string>
		<key>yinTimeString</key>
		<string>六月(小)十八</string>
	</dict>
	<dict>
		<key>title</key>
		<string>处暑</string>
		<key>yangTimeString</key>
		<string>2020年8月22日</string>
		<key>yinTimeString</key>
		<string>七月(大)初四</string>
	</dict>
	<dict>
		<key>title</key>
		<string>白露</string>
		<key>yangTimeString</key>
		<string>2020年9月7日</string>
		<key>yinTimeString</key>
		<string>七月(大)二十</string>
	</dict>
	<dict>
		<key>title</key>
		<string>秋分</string>
		<key>yangTimeString</key>
		<string>2020年9月22日</string>
		<key>yinTimeString</key>
		<string>八月(小)初五</string>
	</dict>
	<dict>
		<key>title</key>
		<string>寒露</string>
		<key>yangTimeString</key>
		<string>2020年10月8日</string>
		<key>yinTimeString</key>
		<string>八月(小)廿一</string>
	</dict>
	<dict>
		<key>title</key>
		<string>霜降</string>
		<key>yangTimeString</key>
		<string>2020年10月23日</string>
		<key>yinTimeString</key>
		<string>九月(大)初七</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立冬</string>
		<key>yangTimeString</key>
		<string>2020年11月7日</string>
		<key>yinTimeString</key>
		<string>九月(大)廿二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小雪</string>
		<key>yangTimeString</key>
		<string>2020年11月22日</string>
		<key>yinTimeString</key>
		<string>十月(小)初七</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大雪</string>
		<key>yangTimeString</key>
		<string>2020年12月7日</string>
		<key>yinTimeString</key>
		<string>十月(小)廿二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>冬至</string>
		<key>yangTimeString</key>
		<string>2020年12月21日</string>
		<key>yinTimeString</key>
		<string>十一月(小)初七</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小寒</string>
		<key>yangTimeString</key>
		<string>2021年1月6日</string>
		<key>yinTimeString</key>
		<string>十二月(大)十三</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大寒</string>
		<key>yangTimeString</key>
		<string>2021年1月20日</string>
		<key>yinTimeString</key>
		<string>十二月(大)廿七</string>
	</dict>
</array>
</plist>
