<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>立春</string>
		<key>type</key>
		<string>1</string>
		<key>imageName</key>
		<string>jieqi_1</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>2月3-4日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雨水</string>
		<key>type</key>
		<string>2</string>
		<key>imageName</key>
		<string>jieqi_2</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>2月18-19日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>惊蛰</string>
		<key>type</key>
		<string>3</string>
		<key>imageName</key>
		<string>jieqi_3</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>3月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春分</string>
		<key>type</key>
		<string>4</string>
		<key>imageName</key>
		<string>jieqi_4</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>3月20-21日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>清明</string>
		<key>type</key>
		<string>5</string>
		<key>imageName</key>
		<string>jieqi_5</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>4月4-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>谷雨</string>
		<key>type</key>
		<string>6</string>
		<key>imageName</key>
		<string>jieqi_6</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>4月19-20日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立夏</string>
		<key>type</key>
		<string>7</string>
		<key>imageName</key>
		<string>jieqi_7</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>5月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小满</string>
		<key>type</key>
		<string>8</string>
		<key>imageName</key>
		<string>jieqi_8</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>5月20-22日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>芒种</string>
		<key>type</key>
		<string>9</string>
		<key>imageName</key>
		<string>jieqi_9</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>6月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>夏至</string>
		<key>type</key>
		<string>10</string>
		<key>imageName</key>
		<string>jieqi_10</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>6月21-22日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小暑</string>
		<key>type</key>
		<string>11</string>
		<key>imageName</key>
		<string>jieqi_11</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>7月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大暑</string>
		<key>type</key>
		<string>12</string>
		<key>imageName</key>
		<string>jieqi_12</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>7月22-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立秋</string>
		<key>type</key>
		<string>13</string>
		<key>imageName</key>
		<string>jieqi_13</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>8月6-9日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>处暑</string>
		<key>type</key>
		<string>14</string>
		<key>imageName</key>
		<string>jieqi_14</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>8月22-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>白露</string>
		<key>type</key>
		<string>15</string>
		<key>imageName</key>
		<string>jieqi_15</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>9月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>秋分</string>
		<key>type</key>
		<string>16</string>
		<key>imageName</key>
		<string>jieqi_16</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>9月22-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>寒露</string>
		<key>type</key>
		<string>17</string>
		<key>imageName</key>
		<string>jieqi_17</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>10月7-9日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>霜降</string>
		<key>type</key>
		<string>18</string>
		<key>imageName</key>
		<string>jieqi_18</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>10月23-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立冬</string>
		<key>type</key>
		<string>19</string>
		<key>imageName</key>
		<string>jieqi_19</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>11月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小雪</string>
		<key>type</key>
		<string>20</string>
		<key>imageName</key>
		<string>jieqi_20</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>11月22-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大雪</string>
		<key>type</key>
		<string>21</string>
		<key>imageName</key>
		<string>jieqi_21</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>12月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>冬至</string>
		<key>type</key>
		<string>22</string>
		<key>imageName</key>
		<string>jieqi_22</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>12月21-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小寒</string>
		<key>type</key>
		<string>23</string>
		<key>imageName</key>
		<string>jieqi_23</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>1月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大寒</string>
		<key>type</key>
		<string>24</string>
		<key>imageName</key>
		<string>jieqi_24</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>1月19-21日</string>
	</dict>
</array>
</plist>
