<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>立春</string>
		<key>type</key>
		<string>1</string>
		<key>imageName</key>
		<string>jieqi_1</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>2月3-4日</string>
		<key>detailText</key>
		<string>立春 （二十四节气之一）
立春，农历二十四节气中的第一个节气。立春是从天文上来划分的，即太阳到达黄经315°时。
立春是中国民间重要的传统节日之一。“立”是“开始”的意思，自秦代以来，中国就一直以立春作为孟春时节的开始。所谓“一年之计在于春”，春是温暖，鸟语花香；春是生长，耕耘播种。
立春之日迎春已有三千多年以上历史，中国自官方到民间都极为重视。立春时，天子亲率三公九卿、诸侯大夫去东郊迎春，祈求丰收。回来之后，要赏赐群臣，布德令以施惠兆民。这种活动影响到庶民，使之成为后来世世代代的全民的迎春活动 [ 。

诗词曲
		《立春》·左河水
		　　东风带雨逐西风，大地阳和暖气生。
		　　万物苏萌山水醒，农家岁首又谋耕。 
		《立春》长卿
		　　谁家二月煮新丝，一江黄鲫应不识。
		　　明日倘或桃李晓，莫问老梅知不知。 
		《咏柳》（唐代）贺知章
		　　碧玉妆成一树高，万条垂下绿丝绦。
		　　不知细叶谁裁出，二月春风似剪刀。 
		《题望苑驿》 （唐代）温庭筠
		　　弱柳千条杏一枝，半含春雨半垂丝。
		　　景阳寒井人难到，长乐晨钟鸟自知。
		　　花影至今通博望，树名从此号相思。
		　　分明十二楼前月，不向西陵照盛姬。 
</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雨水</string>
		<key>type</key>
		<string>2</string>
		<key>imageName</key>
		<string>jieqi_2</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>2月18-19日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>惊蛰</string>
		<key>type</key>
		<string>3</string>
		<key>imageName</key>
		<string>jieqi_3</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>3月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春分</string>
		<key>type</key>
		<string>4</string>
		<key>imageName</key>
		<string>jieqi_4</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>3月20-21日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>清明</string>
		<key>type</key>
		<string>5</string>
		<key>imageName</key>
		<string>jieqi_5</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>4月4-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>谷雨</string>
		<key>type</key>
		<string>6</string>
		<key>imageName</key>
		<string>jieqi_6</string>
		<key>seasonImage</key>
		<string>shije_icon_1</string>
		<key>startTime</key>
		<string>4月19-20日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立夏</string>
		<key>type</key>
		<string>7</string>
		<key>imageName</key>
		<string>jieqi_7</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>5月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小满</string>
		<key>type</key>
		<string>8</string>
		<key>imageName</key>
		<string>jieqi_8</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>5月20-22日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>芒种</string>
		<key>type</key>
		<string>9</string>
		<key>imageName</key>
		<string>jieqi_9</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>6月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>夏至</string>
		<key>type</key>
		<string>10</string>
		<key>imageName</key>
		<string>jieqi_10</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>6月21-22日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小暑</string>
		<key>type</key>
		<string>11</string>
		<key>imageName</key>
		<string>jieqi_11</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>7月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大暑</string>
		<key>type</key>
		<string>12</string>
		<key>imageName</key>
		<string>jieqi_12</string>
		<key>seasonImage</key>
		<string>shije_icon_2</string>
		<key>startTime</key>
		<string>7月22-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立秋</string>
		<key>type</key>
		<string>13</string>
		<key>imageName</key>
		<string>jieqi_13</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>8月6-9日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>处暑</string>
		<key>type</key>
		<string>14</string>
		<key>imageName</key>
		<string>jieqi_14</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>8月22-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>白露</string>
		<key>type</key>
		<string>15</string>
		<key>imageName</key>
		<string>jieqi_15</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>9月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>秋分</string>
		<key>type</key>
		<string>16</string>
		<key>imageName</key>
		<string>jieqi_16</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>9月22-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>寒露</string>
		<key>type</key>
		<string>17</string>
		<key>imageName</key>
		<string>jieqi_17</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>10月7-9日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>霜降</string>
		<key>type</key>
		<string>18</string>
		<key>imageName</key>
		<string>jieqi_18</string>
		<key>seasonImage</key>
		<string>shije_icon_3</string>
		<key>startTime</key>
		<string>10月23-24日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立冬</string>
		<key>type</key>
		<string>19</string>
		<key>imageName</key>
		<string>jieqi_19</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>11月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小雪</string>
		<key>type</key>
		<string>20</string>
		<key>imageName</key>
		<string>jieqi_20</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>11月22-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大雪</string>
		<key>type</key>
		<string>21</string>
		<key>imageName</key>
		<string>jieqi_21</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>12月7-8日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>冬至</string>
		<key>type</key>
		<string>22</string>
		<key>imageName</key>
		<string>jieqi_22</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>12月21-23日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小寒</string>
		<key>type</key>
		<string>23</string>
		<key>imageName</key>
		<string>jieqi_23</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>1月5-6日</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大寒</string>
		<key>type</key>
		<string>24</string>
		<key>imageName</key>
		<string>jieqi_24</string>
		<key>seasonImage</key>
		<string>shije_icon_4</string>
		<key>startTime</key>
		<string>1月19-21日</string>
	</dict>
</array>
</plist>
