<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>立春</string>
		<key>yangTimeString</key>
		<string>2019年2月4日</string>
		<key>yinTimeString</key>
		<string>十二月(大)三十</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雨水</string>
		<key>yangTimeString</key>
		<string>2019年2月19日</string>
		<key>yinTimeString</key>
		<string>正月(大)十五</string>
	</dict>
	<dict>
		<key>title</key>
		<string>惊蛰</string>
		<key>yangTimeString</key>
		<string>2019年3月6日</string>
		<key>yinTimeString</key>
		<string>正月(大)三十</string>
	</dict>
	<dict>
		<key>title</key>
		<string>春分</string>
		<key>yangTimeString</key>
		<string>2019年3月21日</string>
		<key>yinTimeString</key>
		<string>二月(小)十五</string>
	</dict>
	<dict>
		<key>title</key>
		<string>清明</string>
		<key>yangTimeString</key>
		<string>2019年4月5日</string>
		<key>yinTimeString</key>
		<string>三月(大)初一</string>
	</dict>
	<dict>
		<key>title</key>
		<string>谷雨</string>
		<key>yangTimeString</key>
		<string>2019年4月20日</string>
		<key>yinTimeString</key>
		<string>三月(大)十六</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立夏</string>
		<key>yangTimeString</key>
		<string>2019年5月6日</string>
		<key>yinTimeString</key>
		<string>四月(小)初二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小满</string>
		<key>yangTimeString</key>
		<string>2019年5月21日</string>
		<key>yinTimeString</key>
		<string>四月(小)十七</string>
	</dict>
	<dict>
		<key>title</key>
		<string>芒种</string>
		<key>yangTimeString</key>
		<string>2019年6月6日</string>
		<key>yinTimeString</key>
		<string>五月(大)初四</string>
	</dict>
	<dict>
		<key>title</key>
		<string>夏至</string>
		<key>yangTimeString</key>
		<string>2019年6月21日</string>
		<key>yinTimeString</key>
		<string>五月(大)十九</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小暑</string>
		<key>yangTimeString</key>
		<string>2019年7月7日</string>
		<key>yinTimeString</key>
		<string>六月(小)初五</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大暑</string>
		<key>yangTimeString</key>
		<string>2019年7月23日</string>
		<key>yinTimeString</key>
		<string>六月(小)廿一</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立秋</string>
		<key>yangTimeString</key>
		<string>2019年8月8日</string>
		<key>yinTimeString</key>
		<string>七月(小)初八</string>
	</dict>
	<dict>
		<key>title</key>
		<string>处暑</string>
		<key>yangTimeString</key>
		<string>2019年8月23日</string>
		<key>yinTimeString</key>
		<string>七月(小)廿三</string>
	</dict>
	<dict>
		<key>title</key>
		<string>白露</string>
		<key>yangTimeString</key>
		<string>2019年9月8日</string>
		<key>yinTimeString</key>
		<string>八月(大)初十</string>
	</dict>
	<dict>
		<key>title</key>
		<string>秋分</string>
		<key>yangTimeString</key>
		<string>2019年9月23日</string>
		<key>yinTimeString</key>
		<string>八月(大)廿五</string>
	</dict>
	<dict>
		<key>title</key>
		<string>寒露</string>
		<key>yangTimeString</key>
		<string>2019年10月8日</string>
		<key>yinTimeString</key>
		<string>九月(小)初十</string>
	</dict>
	<dict>
		<key>title</key>
		<string>霜降</string>
		<key>yangTimeString</key>
		<string>2019年10月24日</string>
		<key>yinTimeString</key>
		<string>九月(小)廿六</string>
	</dict>
	<dict>
		<key>title</key>
		<string>立冬</string>
		<key>yangTimeString</key>
		<string>2019年11月8日</string>
		<key>yinTimeString</key>
		<string>十月(小)十二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小雪</string>
		<key>yangTimeString</key>
		<string>2019年11月22日</string>
		<key>yinTimeString</key>
		<string>十月(小)廿六</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大雪</string>
		<key>yangTimeString</key>
		<string>2019年12月7日</string>
		<key>yinTimeString</key>
		<string>十一月(小)十二</string>
	</dict>
	<dict>
		<key>title</key>
		<string>冬至</string>
		<key>yangTimeString</key>
		<string>2019年12月22日</string>
		<key>yinTimeString</key>
		<string>十一月(小)廿七</string>
	</dict>
	<dict>
		<key>title</key>
		<string>小寒</string>
		<key>yangTimeString</key>
		<string>2020年1月5日</string>
		<key>yinTimeString</key>
		<string>十一月(大)三十</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大寒</string>
		<key>yangTimeString</key>
		<string>2020年1月20日</string>
		<key>yinTimeString</key>
		<string>十二月(大)十五</string>
	</dict>
</array>
</plist>
